* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Orbitron', sans-serif;
  }
  
  body {
    background: #0b0b0b;
    color: white;
  }
  
  /* NAVBAR */
  header {
    position: fixed;
    width: 100%;
    background: rgba(0,0,0,0.9);
    padding: 20px 0;
    z-index: 1000;
  }
  
  nav {
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .logo {
    color: #e10600;
  }
  
  nav ul {
    list-style: none;
    display: flex;
    gap: 30px;
  }
  
  nav a {
    color: white;
    text-decoration: none;
    transition: 0.3s;
  }
  
  nav a:hover {
    color: #e10600;
  }
  
  /* HERO */
  .hero {
    height: 100vh;
    background: url("https://images.unsplash.com/photo-1603386329225-868f9a2b8b41") no-repeat center center/cover;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  
  .hero-content {
    background: rgba(0,0,0,0.7);
    padding: 40px;
    border-radius: 15px;
  }
  
  .hero h1 {
    font-size: 60px;
    margin-bottom: 20px;
  }
  
  .hero p {
    margin-bottom: 30px;
    font-size: 20px;
  }
  
  .btn {
    padding: 12px 30px;
    background: #e10600;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    transition: 0.3s;
  }
  
  .btn:hover {
    background: #ff2a2a;
  }
  
  /* SOBRE */
  .sobre {
    padding: 120px 10%;
    background: #111;
  }
  
  .sobre-container {
    display: flex;
    gap: 40px;
    align-items: center;
    flex-wrap: wrap;
  }
  
  .sobre img {
    width: 400px;
    border-radius: 15px;
  }
  
  .sobre h2 {
    margin-bottom: 20px;
    color: #e10600;
  }
  
  /* STATS */
  .stats {
    padding: 100px 10%;
    text-align: center;
  }
  
  .stats h2 {
    margin-bottom: 50px;
    color: #e10600;
  }
  
  .stats-container {
    display: flex;
    justify-content: center;
    gap: 40px;
    flex-wrap: wrap;
  }
  
  .stat-card {
    background: #1c1c1c;
    padding: 40px;
    border-radius: 15px;
    transition: 0.3s;
    width: 200px;
  }
  
  .stat-card:hover {
    background: #e10600;
    transform: scale(1.1);
  }
  
  .stat-card h3 {
    font-size: 40px;
  }
  
  /* GALERIA */
  .galeria {
    padding: 100px 10%;
    background: #111;
    text-align: center;
  }
  
  .galeria h2 {
    margin-bottom: 50px;
    color: #e10600;
  }
  
  .galeria-container {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .galeria img {
    width: 300px;
    border-radius: 15px;
    transition: 0.3s;
  }
  
  .galeria img:hover {
    transform: scale(1.05);
  }
  
  /* FOOTER */
  footer {
    background: black;
    padding: 20px;
    text-align: center;
    font-size: 14px;
  }
  
  /* RESPONSIVO */
  @media (max-width: 768px) {
    .hero h1 {
      font-size: 35px;
    }
  
    .sobre-container {
      flex-direction: column;
      text-align: center;
    }
  
    .sobre img {
      width: 100%;
    }
  }